import(ggplot2)
import(stringr)
import(useful)
export(coefplot, coefplot.lm, coefplot.rxLinMod)
S3method(coefplot, lm)
S3method(coefplot, rxLinMod)
export(getModelInfo, getModelInfo.lm, getModelInfo.rxLinMod)
S3method(getModelInfo, lm)
S3method(getModelInfo, rxLinMod)