S3method(coefplot,lm)
S3method(coefplot,mer)
S3method(coefplot,rxLinMod)
S3method(coefplot,rxLogit)
S3method(getModelInfo,lm)
S3method(getModelInfo,rxLinMod)
S3method(getModelInfo,rxLogit)
export(coefplot)
export(coefplot.lm)
export(coefplot.mer)
export(coefplot.rxLinMod)
export(coefplot.rxLogit)
export(multiplot)
export(plotcoef)
import(ggplot2)
import(plyr)
import(reshape2)
import(stringr)
import(useful)
